<!--header-->
@using System.Security.Claims;

@if (Request.IsAuthenticated)
{
    var identity = (ClaimsIdentity)User.Identity;
    var name = identity.FindFirst(ClaimTypes.GivenName).Value;
    var title = identity.FindFirst(ClaimTypes.Surname).Value;
    var branch = identity.FindFirst(ClaimTypes.StateOrProvince).Value;

    using (Html.BeginForm("Logoff", "Index", FormMethod.Post, new { id = "logoutForm" }))
    {
    @Html.AntiForgeryToken()

<div class="header">
    <div class="container">
        <div class="head">
            <div class=" logo">
                <a href="@Url.Action("Index", "Shop")">
    <img src="~/Content/Template/images/stallion.png" />
</a>
            </div>
        </div>
    </div>
    <div class="header-top">
        <div class="container">
            <div class="col-sm-5 col-md-offset-2  header-login">
                <ul>
                    <li><a href="javascript:document.getElementById('logoutForm').submit()" class="white-bar"><span class="glyphicon glyphicon-log-out"></span>&nbsp;&nbsp;&nbsp;Sign out</a></li>
                </ul>
            </div>

            <div class="col-sm-5 header-social">
                <ul>
                    <li><a href="#" style="color:white">@name</a></li>

                </ul>

            </div>
            <div class="clearfix"> </div>
        </div>
    </div>

    <div class="container">

        <div class="head-top">

            <div class="col-sm-8 col-md-offset-2 h_menu4">
                <nav class="navbar nav_bottom" role="navigation">

                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header nav_2">
                        <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                        <ul class="nav navbar-nav nav_1">
                            <li><a class="color1" href="@Url.Action("Index", "Shop")">Home</a></li>
                            <li><a class="color2" href="@Url.Action("Index", "Cart")"><i class="fa fa-cart-arrow-down" ></i> Cart</a></li>
                            <li><a class="color2" href="@Url.Action("History", "Shop")"><i class="fa fa-briefcase"></i>Previous Orders</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Categories<span class="caret"></span></a>
                                <div class="dropdown-menu ">
                                     <div class="menu">
                                        <div class="col1">
                                            <div class="h_nav">
                                                <ul>
                                                    @foreach (var item in ViewBag.Category)
                                                    {
                                                        <li style="padding:10%">
                                                            <a class="text-capitalize text-center" href="@Url.Action("Index", "Shop", new { category = item.CategoryId })"><strong>@item.CategoryName</strong> </a>
                                                        </li>
                                                    }
                                                </ul>
                                                </div>
                                            </div>
                                         </div>
                                    </div>
                            </li>
                            </ul>
                    </div><!-- /.navbar-collapse -->

                </nav>
            </div>
            <div class="col-sm-2 search-right">
                @*<ul class="heart">
                    <li><a class="play-icon popup-with-zoom-anim" href="#small-dialog"><i class="glyphicon glyphicon-search"> </i></a></li>
                </ul>*@
                <div class="cart box_1">
                    <a href="@Url.Action("Index","Cart")">
                        <h3>
                            <div class="total">
                                <span class="total_items_incart"></span>
                            </div>
                            <img src="~/Content/Template/images/cart.png" />
                        </h3>
                    </a>
                    <p><a href="#" class="empty_cart">Empty Cart</a></p>

                </div>
                <div class="clearfix"> </div>

                <!----->
                <!---pop-up-box---->
                <link href="~/Content/Template/css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
                <script src="~/Content/Template/js/jquery.magnific-popup.js"></script>
                <!---//pop-up-box---->
                <div id="small-dialog" class="mfp-hide">
                    <div class="search-top">
                        <div class="login-search">
                            <input type="submit" value="">
                            <input type="text" value="Search.." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search..';}">
                        </div>
                        <p>Union Mall</p>
                    </div>
                </div>
                <script>
                    $(document).ready(function () {
                        $('.popup-with-zoom-anim').magnificPopup({
                            type: 'inline',
                            fixedContentPos: false,
                            fixedBgPos: true,
                            overflowY: 'auto',
                            closeBtnInside: true,
                            preloader: false,
                            midClick: true,
                            removalDelay: 300,
                            mainClass: 'my-mfp-zoom-in'
                        });

                    });
                </script>

            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--banner-->
<div class="banner-top">
    <div class="container">
        <h1>@ViewBag.Title</h1>
        <em></em>
        <h2><a href="@Url.Action("Index", "Shop")">Home</a><label>/</label>@ViewBag.Title</h2>
    </div>
</div>
    }
}