@model IEnumerable<UnionMall.ViewModels.CartViewModel>
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Details";
}
<div class="row">
    <div class="col-md-12">
        <div class="col-md-12">
@if (ViewContext.RouteData.Values["Action"].ToString() != ("AllDetails")) {
    <a href="@Url.Action("Admin","Home")" id="addProduct" class="pull-left btn btn-md btn-success">Pending Orders</a>
}
else
{
  <a href="@Url.Action("AllOrder","Home")" id="addProduct" class="pull-left btn btn-md btn-primary">All Orders</a>  
}
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
@if (ViewBag.Name != null)
{
                <h3 class="box-title ubn-color">Order Details for 
                    @ViewBag.Name.Name, Order ID: @ViewBag.Name.OrderId <br/><br/>
                    Branch: @ViewBag.Name.Branch, Pick up location: @ViewBag.Name.PickUpBranch <br/><br />
                    <small>Order Date: @ViewBag.Name.OrderDate.ToShortDateString()</small>
               
                </h3>
                   }
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="table-responsive">
                    <table class="table table-bordered" >
                        <tr>
                            <th>Item</th>

                            <th>Quantity</th>
                            <th>Unit Price</th>
                            <th>Subtotal</th>
                        </tr>
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {

                                <tr class="cart-header">

                                    <td class="ring-in">
                                        <a href="#" class="at-in"><img src="@Url.Content("~/UploadedFiles/")@item.ProductName/@item.MainImage" class="img-responsive" alt="" style="width:120px;height:120px"></a>
                                        <div class="sed">
                                            <h5><a href="#">@item.ProductName</a></h5>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </td>
                                    <td>
                                       @item.Quantity 
                                    </td>
                                    <td>NGN @item.UnitPrice</td>
                                    <td class="item_price">NGN @item.ItemTotal</td>

                                </tr>
                            }
                            if (ViewBag.Name != null) { 
                            <tr class="cart-header">
                                <td colspan="3" align="right"><strong>Total</strong></td>
                                <td>NGN <span class="totals"> @ViewBag.Name.Amount</span></td>
                            </tr>
                            }
                        }
                        else
                        {
                            <tr class="cart-header1">
                                <td class="ring-in" colspan="4" align="center">
                                    <strong class="text-center text-uppercase">The are no items in your cart</strong>
                                </td>
                            </tr>
                        }
                    </table>
                    @if (ViewContext.RouteData.Values["Action"].ToString() != ("AllDetails")) { 
                    <div class="col-md-4 col-md-offset-4" >
                        <a href="@Url.Action("Process", "Home", new { order = @ViewBag.Name.OrderId })"  class="pull-left btn btn-md btn-primary">Proceed</a>
                        <a href="#" data-toggle="modal" data-target="#myModal" class="pull-right btn btn-md btn-danger"  title="Refund">Refund</a>
                        <div class="clearfix"></div>
                    </div>
                    }
                </div>
            </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>

<!-- Modal -->
@if (ViewBag.Name != null) { 
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center"><strong>Enter reason for refund</strong></h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Refund", "Home", FormMethod.Post, new { @class = "" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="modal-body">

                        <div class="form-group">
                            <textarea cols="5" rows="4" class="form-control" name="Comment"></textarea>
                            <input type="hidden" name="OrderId" id="OrderId" value="@ViewBag.Name.OrderId">
                        </div>
                    </div>
                    <div class="text-center" style="margin-bottom:3%">
                        <input type="submit" class="btn btn-primary" value="Refund" />
                    </div>
                }
            </div>

        </div>

    </div>
</div>
}
<style type="text/css">
    #addProduct {
        margin-bottom: 1%;
    }

    .catName, .activeName, .deleteName {
        height: 40px;
        border-radius: 10px;
        text-align: center;
        background-color: inherit;
        border: none;
    }
</style>
<link href="~/Content/sweetalert.css" rel="stylesheet" />
<script src="~/Scripts/sweetalert-min.js"></script>
@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $(function () { // will trigger when the document is ready
                $('.datepicker').datepicker(); //Initialise any date pickers
            });
        })
    </script>
}

@helper checkCheckBox(bool checkstate)
{
    if (checkstate == true)
    {
        <strong>True</strong>
    }
    else
    {
        <strong>False</strong>
    }
}




